<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogToConsole="false"
      autoReload="true">

  <targets>
    <target name="clientFile" xsi:type="File"
            fileName="${basedir}/logs/client.log"
            archiveFileName="${basedir}/logs/client.{##}.log"
            archiveAboveSize="10000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="2"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <header xsi:type="SimpleLayout" text="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&gt;&lt;root xmlns:log4j=&quot;http://jakarta.apache.org/log4j/&quot;&gt;"/>
        <layout xsi:type="Log4JXmlEventLayout" />
        <footer xsi:type="SimpleLayout" text="&lt;/root&gt;"/>
      </layout>
    </target>
  </targets>

  <rules>
    <!-- Possible Levels: Trace, Debug, Info, Warn, Error, Fatal -->
    <logger name="*" minlevel="Debug" writeTo="clientFile" />
  </rules>
</nlog>