<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogToConsole="false"
      autoReload="true">

  <targets>
    <target name="serverfile" xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            fileName="${basedir}/logs/server.log"
            archiveFileName="${basedir}/logs/log.{##}.txt"
            archiveAboveSize="1000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="2"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target name="cheffile" xsi:type="File"
            layout="${longdate} ${message}"
            fileName="${basedir}/logs/chef.log"
            archiveFileName="${basedir}/logs/log.{##}.txt"
            archiveAboveSize="250000"
            archiveNumbering="Sequence"
            maxArchiveFiles="5"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target name="console"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="true" />
  </targets>

  <rules>
    <!-- Possible Levels: Trace, Debug, Info, Warn, Error, Fatal -->
    <logger name="*" minlevel="Info" writeTo="serverfile" />
    <logger name="cafe.Chef.ChefLogEntry" minlevel="Info" writeTo="cheffile" />
    <logger name="cafe.Server" minlevel="Info" writeTo="console" />
  </rules>
</nlog>