<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogToConsole="false"
      autoReload="true">

  <targets>
    <target name="serverfile" xsi:type="File"
            fileName="${basedir}/logs/server.log"
            archiveFileName="${basedir}/logs/server.{##}.log"
            archiveAboveSize="10000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="2"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <header xsi:type="SimpleLayout" text="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&gt;&lt;root xmlns:log4j=&quot;http://jakarta.apache.org/log4j/&quot;&gt;"/>
        <layout xsi:type="Log4JXmlEventLayout" />
        <footer xsi:type="SimpleLayout" text="&lt;/root&gt;"/>
      </layout>
    </target>
    <target name="cheffile" xsi:type="File"
            layout="${longdate} ${message}"
            fileName="${basedir}/logs/chef.log"
            archiveFileName="${basedir}/logs/log.{##}.txt"
            archiveAboveSize="250000"
            archiveNumbering="Sequence"
            maxArchiveFiles="5"
            concurrentWrites="true"
            keepFileOpen="false" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <!-- Possible Levels: Trace, Debug, Info, Warn, Error, Fatal -->
    <logger name="cafe.Chef.ChefLogEntry" minlevel="Info" writeTo="cheffile" final="true" />
    <logger name="*" minlevel="Debug" writeTo="serverfile" />
    <logger name="cafe.Chef.*" minlevel="Info" writeTo="console" />
    <logger name="cafe.Server.*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>